*.json
*.pyc
*.json
*.pyc
*.json
venv/Benzaiten_UI/temp.json
*.pyc
venv/Benzaiten_Common/__pycache__/FFWebscraper.cpython-39.pyc
venv/Benzaiten_Common/__pycache__/DataBase.cpython-39.pyc
venv/Benzaiten_UI/launch_ui.bat
*.pyc
venv/Benzaiten_UI/launch_ui.bat
*.pyc
venv/Benzaiten_UI/__pycache__/collect_data.cpython-39.pyc
venv/Benzaiten_Common/__pycache__/FFWebscraper.cpython-39.pyc
venv/Benzaiten_Common/FFWebscraper.py
venv/Benzaiten_Common/__pycache__/FFWebscraper.cpython-39.pyc
venv/Benzaiten_Common/FFWebscraper.py
venv/Benzaiten_UI/__pycache__/collect_data.cpython-39.pyc
venv/Benzaiten_UI/launch_ui.bat
venv/Benzaiten_UI/launch_ui.bat
*.bat
venv/Benzaiten_UI/launch_ui.bat
